<div class="panel panel-default">
    <div class="panel-body">
        <p>
            <a class="feds-plain-text-link" role="button" data-toggle="collapse"
              href="#feds-table-{{ table.machine_name }}" aria-expanded="false" aria-controls="">
                <span class="glyphicon glyphicon-menu-hamburger pull-right" aria-hidden="true"></span>
                <strong>{{ table.title }}</strong>
            </a>
        </p>
{#    Table settings TODO: Move this and field spec settings to one template. #}
        <div class="collapse" id="feds-table-{{ table.machine_name }}">
            {% for setting in table.settings %}
                {% include 'projects/setting.html' with setting=setting %}
            {% endfor %}
        </div>
{#    End table settings#}
{#    Field specs#}
            {% for field_spec in table.field_specs %}
                <hr>
                {% if not field_spec.settings %}
                    <p>{{ field_spec.title }}<br>
                        <span class="feds-setting-description">{{ field_spec.description }}</span>
                    </p>
                {% else %}
                    <p>
                        <a class="feds-plain-text-link" role="button" data-toggle="collapse"
                          href="#feds-field-spec-{{ field_spec.machine_name }}"
                          aria-expanded="false" aria-controls="">
                            <span class="glyphicon glyphicon-menu-hamburger pull-right" aria-hidden="true"></span>
                            {{ field_spec.title }}<br>
                            <span class="feds-setting-description">{{ field_spec.description }}</span>
                        </a>
                    </p>
                    <div class="collapse" id="feds-field-spec-{{ field_spec.machine_name }}">
                        {% for setting in field_spec.settings %}
                            {% include 'projects/setting.html' with setting=setting %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
  </div>
</div>