<div class="container">
    <div class="row">
        <div class="col-sm-3">
            {% include 'projects/notional-table.html' with table_name='Customer' field_specs_fields=field_specs.customer table_settings_list=table_settings.customer %}
        </div>
        <div class="col-sm-3">
            {% include 'projects/notional-table.html' with table_name='Invoice' field_specs_fields=field_specs.invoice table_settings_list=table_settings.invoice %}
        </div>
        <div class="col-sm-3">
            {% include 'projects/notional-table.html' with table_name='InvoiceDetail' field_specs_fields=field_specs.invoice_detail table_settings_list=table_settings.invoice_detail %}
        </div>
        <div class="col-sm-3">
            {% include 'projects/notional-table.html' with table_name='Product' field_specs_fields=field_specs.product table_settings_list=table_settings.product %}
        </div>
    </div>
    <hr>
</div>
