{% extends "base.html" %}
{% block page_title %}Project: {{ project.title }}{% endblock %}
{% block page_heading %}Project: {{ project.title }}{% endblock %}
{% block content %}
    {% load static %}
{#    Load script creating Feds object.#}
    <script src="{% static "projects.js" %}"></script>
    {% csrf_token %}
    <div id="settings-modal-dialog" class="modal" style="display:none;">
        <p>FEDS</p>
        <form action="" method="post" onsubmit="saveSetting();return false;">
            <div id="feds-widget"></div>
            <div class="pull-right">
                <a class="btn btn-primary"
                   title="Save this setting"
                   onclick="Feds.saveSetting();return false;"
                   role="button">Save</a>
                <a class="btn btn-default"
                   onclick="$.modal.close();return false;"
                   role="button">Cancel</a>
            </div>
        </form>
    </div>

    <div id="generate-modal" class="modal" style="display:none;">
        <p>FEDS</p>
        <p id="generate-wait-message">Generating data set...</p>
        <p id="delete-wait-message">Generating data set...</p>
        <div id="archive-link-container">
            <p>Data set ready.</p>
            <p>
                <a id="archive-link"
                   class="btn btn-primary"
                   title="Download the archive"
                   href="#"
                   role="button">Download</a>
                <a class="btn btn-primary"
                   title="Close this dialog and delete the archive"
                   onclick="Feds.eraseArchive();return false;"
                   role="button">Close and delete</a>
            </p>
        </div>
    </div>
    <script>
        //Check that the Feds object has been created.
        if ( ! Feds ) {
            console.error('Feds object not found.')
        }
        //Project id.
        Feds.projectId = {{ project.db_id }};
        //Create settings values.
        Feds.settingsValues = {{ settings_values|safe }};
        //Objects for testing setting visiblility.
        Feds.visibilityTesters = {{ visibility_testers|safe }};
        //Ajax URL for getting widget HTML.
        Feds.widgetUrl = '{% url 'projects:request_setting_widget' %}';
        //Ajax URL to save a setting.
        Feds.saveSettingUrl = '{% url 'projects:save_setting' %}';
        //Ajax URL to get setting display HTML.
        Feds.settingDisplayUrl = '{% url 'projects:load_setting_deets' %}';
        //Ajax URL to generate a data set.
        Feds.generateUrl = '{% url 'generate:generate' %}';
        //Ajax URL to erase a data set archive file.
        Feds.deleteArchiveUrl ='{% url 'generate:delete_archive' %}';
        //Security token.
        var csrfToken;
        $(document).ready(function () {
            //Page loaded.
            $.modal.defaults = {
                showClose: false,
                fadeDuration: 200,
                fadeDelay: 0.5
            };
            //Grab security token
            csrfToken = jQuery("[name=csrfmiddlewaretoken]").val();
            //Send it before every Ajax call.
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    //Check whether token in needed.
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrfToken);
                    }
                }
            });
            //Update setting visibility.
            Feds.updateSettingVisibility();
        });

        /**
         * Check whether method needs CSRF token.
         *
         * See https://docs.djangoproject.com/en/1.11/ref/csrf/
         */
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }


    </script>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-6">
                        <strong>Title</strong>
                    </div>
                    <div class="col-sm-6">
                        {{ project.title }}
                    </div>
                </div>
{#                <div class="row">#}
{#                    <div class="col-sm-6">#}
{#                        <strong>Slug</strong>#}
{#                    </div>#}
{#                    <div class="col-sm-6">#}
{#                        {{ project.slug }}#}
{#                    </div>#}
{#                </div>#}
                <div class="row">
                    <div class="col-sm-6">
                        <strong>Description</strong>
                    </div>
                    <div class="col-sm-6">
                        {{ project.description }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong>Business area</strong>
                    </div>
                    <div class="col-sm-6">
                        {{ project.business_area.title }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <strong>Created</strong>
                    </div>
                    <div class="col-sm-6">
                        {{ project.when_created }}
                    </div>
                </div>
                {% if project.settings|length > 0 %}
                    <div class="row">
                        <div class="col-sm-6">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <strong>Project settings</strong>
                        </div>
                        <div class="col-sm-6">
                            <a class="feds-plain-text-link" role="button"
                               data-toggle="collapse"
                               href="#setting{{ forloop.counter }}"
                               aria-expanded="false" aria-controls="">
                            <span
                                    class="glyphicon glyphicon-menu-hamburger"
                                    aria-hidden="true"></span>
                                {{ field_spec.title }}<br>
                                <span class="feds-setting-description">{{ field_spec.description }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="collapse"
                                 id="setting{{ forloop.counter }}">
                                <br>
                                {% for setting in project.settings %}
                                    {% include 'projects/setting.html' with setting=setting %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-sm-6">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <a onclick="Feds.generate();return false;"
                           class="btn btn-primary"
                           title="Generate data set">Generate</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <p>
                    Blah blah, click hamburger icons, blah blah, change
                    settings, blah blah, RTFM.
                </p>
            </div>
        </div>
    </div>
    <hr>
    {% include 'projects/notional-tables.html' %}
{% endblock %}