{% extends "base.html" %}
{% block page_title %}Contact us{% endblock %}
{% block page_heading %}Contact us{% endblock %}
{% block content %}
    <div class="col-sm-8">
        <p>
            Send us a message. Suggestions, mistakes, kudos, accounting jokes... All fields are required.
        </p>
        <form action="." method="post">
            {% csrf_token %}
            {{ form.media }}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    Sorry, the message couldn't be sent.
                </div>
                {% for err in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ err }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="form-group">
                <label for="{{ form.contact_name.id_for_label }}">{{ form.contact_name.label }}</label>
                <input type="text" name="{{ form.contact_name.html_name }}"
                       class="form-control"
                       maxlength="{{ model_field_meta_data.contact_name.max_length }}"
                       id="{{ form.contact_name.id_for_label }}" autofocus required
                       value="{{ form.contact_name.value }}"
                >
                <p class="help-block">{{ model_field_meta_data.contact_name.help_text }}</p>
            </div>

            {% if form.errors.captcha|length > 0 %}
                {% include 'partials/form_field_errors.html' with errs=form.errors.contact_name %}
            {% endif %}

            <div class="form-group">
                <label for="{{ form.contact_email.id_for_label }}">{{ form.contact_email.label }}</label>
                <input type="email" name="{{ form.contact_email.html_name }}"
                       class="form-control"
                       maxlength="{{ model_field_meta_data.contact_email.max_length }}"
                       id="{{ form.contact_email.id_for_label }}" required
                       value="{{ form.contact_email.value }}"
                >
                <p class="help-block">{{ model_field_meta_data.contact_email.help_text }}</p>
            </div>

            {% if form.errors.contact_email|length > 0 %}
                {% include 'partials/form_field_errors.html' with errs=form.errors.contact_email %}
            {% endif %}

            <div class="form-group">
                <label for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
                <textarea class="form-control" rows="5"
                    name="{{ form.message.html_name }}"
                    id="{{ form.message.id_for_label }}" >{{ form.message.value }}</textarea>
                <p class="help-block">{{ model_field_meta_data.message.help_text }}</p>
            </div>

            {% if form.errors.message|length > 0 %}
                {% include 'partials/form_field_errors.html' with errs=form.errors.message %}
            {% endif %}

            {{ form.captcha }}
            {% if form.errors.captcha|length > 0 %}
                {% include 'partials/form_field_errors.html' with errs=form.errors.captcha %}
            {% endif %}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
{% endblock %}