<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block page_title %}{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom -->
    <link rel="stylesheet" href="{% static "base.css" %}">

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#blog-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">FEDS</a>
        </div>
        <div class="collapse navbar-collapse" id="blog-navbar">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a>User: {{ user.get_username }}</a></li>
                    <li>
                        <a href="#"
                           onclick="event.preventDefault();
                                     document.getElementById('logout-form').submit();">
                            Logout
                        </a>
                        <form id="logout-form" action="{% url 'accounts:logout' %}" method="POST"
                              style="display: none;">
                            {% csrf_token %}
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
                    <li><a href="{% url 'accounts:register' %}">Signup</a></li>
                {% endif %}
                <li>
                    <a href="{% url 'faqs' %}">FAQs</a>
                    <a href="{% url 'about_us' %}">About</a>
                    <a href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    {% block subnav %}{% endblock %}
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>{% block page_heading %}{% endblock %}</h1>
            </div>
            {% include 'partials/messages.html' %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<footer>
  <div class="container">
    <div class="col-md-6">
      <h4>FEDS</h4>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about_us' %}">About us</a></li>
        <li><a href="{% url 'faqs' %}">FAQs</a></li>
        <li><a href="{% url 'contact' %}">Contact us</a></li>
      </ul>
    </div>
  </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>


</body>
</html>
