<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#blog-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">FEDS</a>
        </div>
        <div class="collapse navbar-collapse" id="blog-navbar">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a>User: {{ user.get_username }}</a></li>
                    <li>
                        <a href="#"
                           onclick="event.preventDefault();
                                     document.getElementById('logout-form').submit();">
                            Logout
                        </a>
                        <form id="logout-form" action="{% url 'accounts:logout' %}" method="POST"
                              style="display: none;">
                            {% csrf_token %}
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
                    <li><a href="{% url 'accounts:register' %}">Signup</a></li>
                {% endif %}
                <li>
                    <a href="{% url 'faqs' %}">FAQs</a>
                </li>
                <li>
                    <a href="{% url 'about_us' %}">About</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    {% block subnav %}{% endblock %}
</nav>