/*Allow space for footer.*/
div.container.main-content {
    margin-bottom: 60px;
}

.feds-vert-margins-small {
    margin-top: 10px;
    margin-bottom: 10px;
}

.feds-vert-margins-medium {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*A link that looks like plain text*/
a.feds-plain-text-link {
    color: black;
    text-decoration: none;
}

/*Changes for BS defaults.*/
.panel-body {
    padding: 10px;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Values of settings.*/
.feds-value {
    padding-left: 15px;
}
